<mat-card>
	<mat-spinner *ngIf="loading"></mat-spinner>
	<mat-card-header *ngIf="!loading">
		<mat-card-title>Salvar livro</mat-card-title>
		<mat-card-subtitle>Preencha os campos abaixo para salvar um livro</mat-card-subtitle>
	</mat-card-header>
	<form #livroForm="ngForm" (submit)="onSalvarLivro (livroForm)" *ngIf="!loading">
		<mat-form-field>
			<input
				type="text"
				matInput
				placeholder="Título"
				[ngModel]="livro?.titulo"
				name="titulo"
				required
			/>
			<mat-error>Insira o título do livro</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input
				type="text"
				matInput
				placeholder="Autor"
				[ngModel]="livro?.autor"
				name="autor"
				required
			/>
			<mat-error>Insira o autor do livro</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input
				type="text"
				matInput
				placeholder="Número de páginas"
				[ngModel]="livro?.qntd_paginas"
				name="qntd_paginas"
				required
			/>
			<mat-error>Insira a quantidade de páginas</mat-error>
		</mat-form-field>
		<button color="accent" mat-raised-button>Salvar Livro</button>
	</form>
</mat-card>
