mat-card {
	margin-top: 1rem;
}

mat-card mat-form-field, input {
	width: 100%;
	display: block;
}

mat-spinner {
	margin: auto;
}

input[type="file"] {
	visibility: hidden;
}

.imagem-preview {
	height: 5rem;
	margin: 1rem 0;
}

.imagem-preview {
	height: 100%;
}
