<mat-card>
	<mat-spinner *ngIf="loading"></mat-spinner>
	<mat-card-header *ngIf="!loading">
		<mat-card-title>Salvar livro</mat-card-title>
		<mat-card-subtitle>Preencha os campos abaixo para salvar um livro</mat-card-subtitle>
	</mat-card-header>
	<form [formGroup]="form" #livroForm="ngForm" (submit)="onSalvarLivro ()" *ngIf="!loading">
		<mat-form-field>
			<input
				type="text"
				matInput
				placeholder="Título"
				name="titulo"
				formControlName="titulo"
			/>
			<mat-error>Insira o título do livro</mat-error>
		</mat-form-field>
		<div>
			<button mat-stroked-button type="button" (click)="selecionaArquivo.click ()">Selecionar imagem</button>
			<input type="file" (change)="onImagemSelecionada ($event)" #selecionaArquivo />
		</div>
		<div class="imagem-preview">
			<img [src]="previewImagem" *ngIf="previewImagem && previewImagem !== '' && form.get ('imagem').valid" [alt]="form.value.titulo" />
		</div>
		<mat-form-field>
			<input
				type="text"
				matInput
				placeholder="Autor"
				name="autor"
				formControlName="autor"
			/>
			<mat-error>Insira o autor do livro</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input
				type="text"
				matInput
				placeholder="Número de páginas"
				name="qntd_paginas"
				formControlName="qntd_paginas"
			/>
			<mat-error>Insira a quantidade de páginas</mat-error>
		</mat-form-field>
		<button color="accent" mat-raised-button>Salvar Livro</button>
	</form>
</mat-card>
